<div class=".bam-exception-dialog" title="Unhandled Exception Caught">
    <p>The following exception was thrown and not handled:</p>
    <p>{ex.message}</p>
    <div class=".bam-exception-verbose">
        <a href="javascript:void(0);">Show complete exception.</a>
        <p class=".bam-verbose">{ex.source}</p>
    </div>
</div>
