<!--<script type="text/plain" src="{baseTemplateUri}/{name}"></script>-->
<script type="text/plain" id="exception" src="http://castopulence.org/accjs/tmpl/exception.html"></script>
<script type="text/plain" id="ignoredMembers" src="http://castopulence.org/accjs/tmpl/ignoredMember.html"></script>
<script type="text/plain" id="loading" src="http://castopulence.org/accjs/tmpl/loading.html"></script>
<script type="text/plain" id="navext" src="http://castopulence.org/accjs/tmpl/navext.html"></script>
<script type="text/plain" id="post-header" src="http://castopulence.org/accjs/tmpl/post-header.html"></script>
<script type="text/plain" id="quote" src="http://castopulence.org/accjs/tmpl/quote.html"></script>
<script type="text/plain" id="styles" src="http://castopulence.org/accjs/tmpl/styles.html"></script>
